.flex-container {
  background-color: rgb(190, 190, 231);
}

.flex-item {
  height: 200px;
  width: 250px;
}

/* Flex Container 1 */

.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Flex Container 2 */

.flex-container-2 {
  display: flex;
  flex-flow: row-reverse wrap;
}

/* Flex Container 3 */

.flex-container-3 {
  display: flex;
  flex-direction: column-reverse;
  height: 890px;
  flex-wrap: wrap;  
  align-items: flex-end;
}

/* use height: 400px; on the container */

/* Flex Container 4 */

.flex-container-4 {
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  align-items: center;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 150px;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 250px;
}

/* Flex Container 6 */

.flex-container-6 .flex-item {
  width: 400px;
}

.flex-container-6 {
  display: flex;
  flex-flow: column wrap;
  max-height: 800px;
  justify-content: flex-start;
}

/* use height: 300px; on the container */
